<h3>All Rentals</h3>
<div class="wrapper" id="rental-wrapper">
    <div><strong>Street</strong></div>
    <div><strong>Suburb</strong></div>
    <div><strong>Price (weekly)</strong></div>
    <div><strong>Assaults/100,000</strong></div>


    <% @rentals.each do |rental| %>
        <div><%= link_to rental.street_address, rental_path(rental.id) %></div>
        <div><%= rental.suburb.name %></div>
        <div>$<%= rental.price %></div>
        <div><%= rental.suburb.assault_rate %></div>
    <% end %>
</div>