<h3 class="form-heading">Add a new Rental Property</h3>
<%= render partial: '/shared/form', locals: {model: @rental, table: Rental} %> <%#consider changing this table to just user the model.class.list_params%>