<h4 class="display-4">All Destinations</h3>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th><strong>Street</strong></th>
            <th><strong>Suburb</strong></th>
            <th><strong>Frequency (per week)</strong></th>
            <th><strong>Safety (lower is better)</strong></th>
        </tr>
    </thead>
    <tbody>
        <% @destinations.each do |destination| %>
            <tr>    
                <td><%= link_to destination.street_address, destination_path(destination.id) %></td>
                <td><%= destination.suburb.name %></td>
                <td><%= destination.frequency %></td>
                <td><%= destination.suburb.assault_rate %></td>
            </tr>
        <% end %>
    </tbody>
  </table>