<h3><%= "Details for #{@destination.street_address}, #{@destination.suburb.name}" %></h3>

<%= link_to '[Edit]', edit_destination_path %>
<%= link_to '[Delete]', destination_path(@destination.id), method: 'delete' %>

<br>
<p><strong>Frequency:</strong> <%= @destination.frequency %></p>