// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#destination-wrapper {
    grid-template-columns: auto auto auto auto; 
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-column-gap: 30px;
    padding: 20px;
    width: fit-content;
    border-radius: 20px;
}