body {
    background-color: #323437;
    color: #d1d0c5;
    font-family: 'Roboto', sans-serif;
    padding-left: 22px;
}

a {
    color: #e2b714;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    color: #b08d0e;
}

.nav-bar {
    padding: 10px;
}

#main {
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-gap: 10px;
    background-color: #4a4a4a;
    grid-column-gap: 30px;
    padding: 20px;
    width: fit-content;
}

.grid-item {
    width: fit-content;
    padding: 10px;
}

#rental-wrapper {
    grid-template-columns: auto auto auto auto; 
}

#destination-wrapper {
    grid-template-columns: auto auto auto auto; 
}

.col-heading {
    font-weight: 700;
    padding: 10px;
}

/* TODO: figure out how to get this to be absolute */
hr.style-one {
    border: 0;
    height: 1px;
    background: #ccc;
    background-image: linear-gradient(to right, #333, #ccc, #333);
}
/* 
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
} */

.rental_img {
    padding: 30px 0px 30px 0px;
}

.nav-link {
    padding: 10px 10px 10px 0px;
    font-size: large;
}