body {
    background-color: #323437;
    color: #d1d0c5;
    font-family: 'Roboto', sans-serif;
    padding-left: 22px;
    padding-right: 22px;
}

a {
    color: #e2b714;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    color: #b08d0e;
}

.nav-bar {
    padding: 10px;
}

#main {
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-gap: 10px;
    background-color: #4a4a4a;
    grid-column-gap: 30px;
    padding: 20px;
    width: fit-content;
}

.grid-item {
    width: fit-content;
    padding: 10px;
}

#rental-wrapper {
    grid-template-columns: auto auto auto auto auto; 
}

#destination-wrapper {
    grid-template-columns: auto auto auto auto; 
}

.col-heading {
    font-weight: 700;
    padding: 10px;
}

/* TODO: figure out how to get this to be absolute */
hr.style-one {
    border: 0;
    height: 1px;
    background: #ccc;
    background-image: linear-gradient(to right, #333, #ccc, #333);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* 
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
} */

.rental_img {
    padding: 30px 0px 30px 0px;
}

.nav-link {
    padding: 5px 5px 5px 0px;
    font-size: medium;
}

span {
    width:50%; 
    display: inline-block; 
}

.align-right {
    text-align: right; 
}

nav{
    white-space: nowrap;
}

#left {
    display: inline-block;
    vertical-align: middle;
    padding-top: 45px;
}

#right {
    display: inline-block;
    float: right;
    background-color: #4a4a4a;
    padding: 30px;
    border-radius: 25px;

    -moz-box-shadow:    3px 3px 5px 6px #2b2b2b;
    -webkit-box-shadow: 3px 3px 5px 6px #2b2b2b;
    box-shadow:         1px 1px 2px 2px #2b2b2b;
}

#tagline {
    color: #e2b714;
    margin: 0px
}

#container{
    margin: auto;
    margin-top: 180px;
    padding: 80px;
    width: 680px;
}

#logo{
    font-size: 50px;
    margin-bottom: 16px;
}

#login{
    margin: 0px;
    padding-bottom: 10px;
    
}

#login-btn{
    background-color: #e2b714;
    border-radius: 6px;
    /* width: 50px; */
    margin: auto;
    padding: 13px 56px;
    text-align: center;
    display: inline-block;
    color: #323437;
}

#error{
    font-size: 12px;
    color: rgb(255, 66, 98);
}