/* body {
    font-family: 'Roboto', sans-serif;
    padding-left: 22px;
    padding-right: 22px;
} */



.grid-item {
    width: fit-content;
    padding: 10px;
}

.col-heading {
    font-weight: 700;
    padding: 10px;
}

/* TODO: figure out how to get this to be absolute */
hr.style-one {
    border: 0;
    height: 1px;
    background: #ccc;
    background-image: linear-gradient(to right, #333, #ccc, #333);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rental_img {
    padding: 30px 0px 30px 0px;
}

.nav-link {
    padding: 5px 5px 5px 0px;
    font-size: medium;
}

span {
    width:50%; 
    display: inline-block; 
}

.align-right {
    text-align: right; 
}

nav{
    white-space: nowrap;
}

#left {
    display: inline-block;
    vertical-align: middle;
    padding-top: 45px;
}

#right {
    position: absolute;
    top: 50%;
    left: 56%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;

    padding: 30px;
    border-radius: 25px;

    -moz-box-shadow:    3px 3px 5px 6px #2b2b2b;
    -webkit-box-shadow: 3px 3px 5px 6px #2b2b2b;
    box-shadow:         1px 1px 2px 2px #2b2b2b;
}

#tagline {
    color: #e2b714;
    margin: 0px
}

#logo{
    font-size: 75px;
    margin: 16px 0px 16px 0px;
}

#login{
    margin: 0px;
    padding: 10px 0px 10px 0px;
}

.login-btn{
    background-color: #e2b714;
    border-radius: 40px;
    /* width: 50px; */
    margin: auto;
    padding: 13px 56px;
    text-align: center;
    display: inline-block;
    color: hsl(216, 5%, 21%);
}

#error{
    font-size: 12px;
    color: rgb(255, 66, 98);
}
#success{
    font-size: 12px;
    color: rgb(129, 255, 66);
}

#small-note{
    font-size: 16px;
    margin: 5px 0px 10px 0px;
}

select, input{
    border-radius: 4px;
    margin: 2px;
}

#login-image{
    height: 100%;
    width: 50%;
    object-fit: none; /* Do not scale the image */

    position: absolute;
    margin-left: -30px;
    margin-top: -8px;
}

.form-popup {
    padding: 30px;
    border-radius: 10px;
    display: none;
    position: fixed;
    bottom: 50%;

    left: 37.5%;
    width: 25%;
    border: 3px solid #b0b0b0;
    z-index: 9;
}

.rental_img {
    width: 700px;
    padding-bottom: 0px;
    padding-top: 10px;
}

label, a.nav-link, div{
    font-size: 18px;
}

h3 {
    font-size: 35px;
}

h1 {
    font-size: 60px;
    margin-bottom: 10px;
    
}